/* Footer.css */
.footer-container {
  background-color: #2c3e50;
  color: white;
  padding: 3rem 0 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 3px solid #d4af37;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 0 2rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.footer-info {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  align-items: center;
}

.footer-contact {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}

.contact-icon {
  font-size: 1.2rem;
  color: #d4af37;
}

.email-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.email-link:hover {
  color: #d4af37;
}

.footer-address p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

.footer-social {
  display: flex;
  /* flex-direction: column; */
  gap: 1.5rem;
  align-items: center;
}

.footer-social h3 {
  font-size: 1.2rem;
  /* margin-bottom: 0.5rem; */
  color: #d4af37;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.social-link {
  transition: transform 0.3s ease;
}

.social-icon {
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.linkedin {
  color: #0077b5;
}

.scholar {
  color: #4285f4;
}

.researchgate {
  color: #00ccbb;
}

.orcid {
  color: #a6ce39;
}

.footer-copyright {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1.5rem;
  }

  .footer-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .footer-contact {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding: 0 1rem;
    flex-direction: column;
  }

  .social-icon {
    font-size: 1.5rem;
  }
}
